{% extends 'base.html' %}
{% block header %}
<header>
    <nav class="container">
        <ul id="login">
            {% if request.user.is_anonymous == True %}
                <li class="login"><a href="{% url 'login' %}">Zaloguj</a></li>
                <li class="login"><a href="{% url 'register' %}">Załóż konto</a></li>
            {% else %}
                <li class="welcome"><p>Witaj, {{ request.user }}</p></li>
                <li class="login"><a href="{% url 'logout' %}">Wyloguj</a></li>
            {% endif %}
        </ul>
        <ul id="menu">
            <li class="menu"><a href="{% url 'home' %}">Posty</a></li>
            <li class="menu"><a href="{% url 'cars' %}">Samochody</a></li>
            <li class="menu"><a href="{% url 'add_car' %}">Dodaj samochód</a></li>
            <li class="menu"><a href="{% url 'home' %}#contact">Kontakt</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
<div id="container">
    <div id="cars">
        <div class="comments">
            <h1>Oceniasz</h1>
            <h2>{{ car.get_mark_display }} - {{ car.model }} - {{ car.generation }}</h2>
            <hr>
            <p>Typ samochodu: <span>{{ car.get_type_of_car_display }}</span></p>
            <p>Pojemność silnika: <span>{{ car.engine }}cc</span></p>
            <p>Rodzaj paliwa: <span>{{ car.get_fuel_display }}</span></p>
            <p>Napęd: <span>{{ car.get_drive_display }}</span></p>
            <p>Spalanie: <span>{{ car.combustion }}l na 100km</span></p>
            <hr><br><br>
            <h2><span>Oceń wybierając w skali od 1 do 5</span></h2>
            <form method="post">
                {% csrf_token %}
                    <div class="form-group">
                        {{ form.look.label }} - {{ form.look }}
                    </div>
                    <hr>
                    <div class="form-group">
                        {{ form.price.label }} - {{ form.price }}
                    </div>
                    <hr>
                    <div class="form-group">
                        {{ form.reliability.label }} - {{ form.reliability }}
                    </div>
                    <hr>
                    <div class="form-group">
                        {{ form.practicality.label }} - {{ form.practicality }}
                    </div>
                    <hr>
                    <div class="form-group">
                        {{ form.family_car.label }} - {{ form.family_car }}
                    </div>
                    <hr>
                <input class="btn" type="submit" value="Oceń">
            </form>
        </div>
    </div>
</div>
{% endblock %}